@charset "UTF-8";
/* - - - - - - - - - - - - - 
- - - - - -MIXIN - - - - -
- - - - - - - - - - - - -  */
/* Imagenes Banner*/
.imagenFormat {
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid #000000;
}

.imagenConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* - - - - - - - - - - - - -  - -  - -  - - 
- - - - - -MEDIA QUERIS PARA CARDS - - - - -
  - - - - - - - - - - - - - - -  - -  - -  -  */
p {
  font-weight: bold;
  padding: 20px;
  text-align: justify;
  justify-content: center;
  max-width: 100%;
  font-size: 30px;
}

.card {
  z-index: 1;
  margin-top: 20px;
}

@media screen and (max-width: 2100px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card img {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card p {
    padding: 16px;
    text-align: justify;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card img {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card p {
    padding: 16px;
    text-align: justify;
  }
  p {
    font-size: 20px;
  }
}
@media screen and (max-width: 577px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card p {
    padding: 16px;
    text-align: justify;
  }
}
/* Estilo 1 texto de la row index*/
.TextCont1 {
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-image: url("../img/facturas.jpg");
}
.TextCont1:hover {
  background-color: #804000;
  filter: brightness(1.2);
  color: #800000;
}

/* Estilo 2 texto de la row index*/
.TextCont2 {
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-image: url("../img/TextFond.jpg");
}
.TextCont2:hover {
  background-color: #e19950;
  filter: brightness(1.2);
  color: #8e402a;
}

/* - - - - - - - - - - - - - 
- - - - - -MIXIN - - - - -
- - - - - - - - - - - - -  */
/* Imagen fundadores*/
.imagenFundadores {
  border-radius: 50%;
  padding: 30px;
}

.fundadorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  max-width: auto;
}

/* Texto fundadores*/
.subtituloFundadores {
  font-size: 35px;
  text-align: center;
  background-color: #804000;
  font-weight: bold;
  color: white;
  padding: 10px;
  text-shadow: 0 0 6px rgb(11, 2, 1);
}
.subtituloFundadores:hover {
  background-color: rgb(232, 198, 94);
  color: #000000;
  font-weight: bold;
}

/* Fondo cuadricula contenedor acordion*/
.acordionfondo {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animacion cambio texto nosotros*/
.changenosotros::after {
  content: " ";
  color: rgb(161, 109, 14);
  animation: changenosotros 10s infinite linear;
  font-weight: bold;
}

@keyframes changenosotros {
  0% {
    content: "Junto a vos";
  }
  20% {
    content: "Con compromiso";
  }
  50% {
    content: "Creciendo";
  }
  60% {
    content: "Mejorando";
  }
  100% {
    content: "Apasionados";
  }
}
/* - - - - - - - - - - - - - 
- - - - - -ACORDION - - - - -
- - - - - - - - - - - - -  */
.acordionConteiner h2 button {
  font-size: 35px;
  font-weight: bold;
  background-color: beige;
  text-shadow: 0 0 6px rgb(11, 2, 1);
  color: #fff309;
}
.acordionConteiner h2 button:hover {
  background-color: rgb(159, 126, 26);
  color: #fff309;
}

.TextacordionConteiner {
  font-size: 25px;
  background-color: beige;
  font-weight: bold;
}

.fondoAcordion {
  background-image: url("../img/removel.png");
  background-size: cover;
  background-position: center;
}

/* Galeria de imagenes Flex Box*/
.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
}
.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.imagen {
  margin-top: 15px;
}
.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Efecto Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(183, 183, 17, 0.692);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}
.overlay h3 {
  color: #fff;
  font-weight: 300px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

/* Animacion cambio texto usado en 
index y en nuestrasDelicias*/
.changecontent::after {
  content: " ";
  color: rgb(161, 109, 14);
  animation: changetext 10s infinite linear;
  font-weight: bold;
}

@keyframes changetext {
  0% {
    content: "Tortas";
  }
  20% {
    content: "Tipos de panes";
  }
  50% {
    content: "Criollitos";
  }
  60% {
    content: "Facturas";
  }
  100% {
    content: "Sandwiches";
  }
}
/* Media queries galeria 
nuestrasDelicias y cafeteria */
@media screen and (max-width: 1000px) {
  .contenedor-imagenes {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .contenedor-imagenes {
    width: 90%;
  }
  .contenedor-imagenes .imagen {
    width: 48%;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
  .contenedor-imagenes {
    width: 98%;
  }
  .contenedor-imagenes .imagen {
    width: 80%;
  }
}
/* Animacion cambio texto cafeteria*/
.changecoffe::after {
  content: " ";
  color: rgb(161, 109, 14);
  animation: changecoffe 10s infinite linear;
  font-weight: bold;
}

@keyframes changecoffe {
  0% {
    content: "Expresso";
  }
  20% {
    content: "Café con leche";
  }
  50% {
    content: "Latte";
  }
  60% {
    content: "Cappuccino";
  }
  100% {
    content: "Frappé";
  }
}
/* - - - - - - - - - - - - - 
- - - - - -MAPA - - - - -
- - - - - - - - - - - - -  */
.mapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.mapPadding {
  padding: 30px;
}

/* Animacion cambio texto ubicacion*/
.changeLocation::after {
  content: " ";
  color: rgb(161, 109, 14);
  animation: changeLocation 10s infinite linear;
  font-weight: bold;
}

@keyframes changeLocation {
  0% {
    content: "Córdoba";
  }
  20% {
    content: "Santa Fe";
  }
  50% {
    content: "Buenos Aires";
  }
  60% {
    content: "Tucumán";
  }
  100% {
    content: "Salta";
  }
}
/* - - - - - - - - - - - - - 
- - - - - -FORMULARIO - - - - -
- - - - - - - - - - - - -  */
/* Estilos generales para el formulario */
form {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-weight: 100%;
  background-color: rgb(202, 221, 222);
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  /* Estilos para el título del formulario */
  /* Estilos para los campos de entrada */
  /* Estilos para el botón de enviar */
  /* Estilos para los mensajes de error */
}
form h1 {
  font-size: 28px;
  text-align: center;
  color: #333333;
}
form input,
form select {
  padding: 10px;
  border: 2px solid #080808;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
form .error {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Animacion cambio texto redes sociales*/
.changeRedes::after {
  content: " ";
  color: rgb(161, 109, 14);
  animation: changeRedes 10s infinite linear;
  font-weight: bold;
}

@keyframes changeRedes {
  0% {
    content: "Whatsapp";
  }
  20% {
    content: "Facebook";
  }
  50% {
    content: "Instagram";
  }
  60% {
    content: "_Twitter_";
  }
  100% {
    content: "__Mail__";
  }
}
/* Estilo 3 texto del formulario*/
.TextCont3 {
  text-align: center;
  background-color: rgba(219, 181, 83, 0.6901960784);
  font-weight: bold;
}
.TextCont3:hover {
  background-color: rgb(110, 68, 42);
  color: white;
  filter: brightness(1.2);
}

/* - - - - - - - - - - - - - 
- - - - - -MIXIN - - - - -
- - - - - - - - - - - - -  */
/* Variable tamanio icono*/
/* - - - - - - - - - - - - - 
- - - - - -FOOTER - - - - -
- - - - - - - - - - - - -  */
/* tamanio de logos en el footer*/
.logoConteiner {
  height: 50px;
  width: 50px;
}

/* tamanio de logos en el footer*/
.logo {
  width: 100%;
  height: 100%;
}

footer {
  border: 3px solid #080808;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #804000;
  height: 210px;
  color: white;
}
footer ul li {
  list-style: none;
}

.redesSocialesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.redesSocialesContainer li {
  margin-left: 20px;
}

/* Variable tamanio icono*/
/* - - - - - - - - - - - - - 
- - - - - -STICKY - - - - -
- - - - - - - - - - - - -  */
/* Logo de whatsapp */
.logoWp, .sticky {
  width: 50px;
  height: 50px;
}

/* Logo de whatsapp */
.sticky {
  right: 30px;
  bottom: 15%;
  z-index: 2;
  position: fixed;
}

/* - - - - - - - - - - - - - 
- - - - - -ARROW UP - - - - -
- - - - - - - - - - - - -  */
.arrow {
  position: fixed;
  background-color: rgb(161, 109, 14);
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  z-index: 2;
}

/* - - - - - - - - - - - - - 
- - - - - -HEADER - - - - -
- - - - - - - - - - - - -  */
/* Estilo header */
header {
  background-color: #FBD06E;
  height: 110px;
}

/* - - - - - - - - - - - - - 
- - - - - -NAVBAR - - - - -
  - - - - - - - - - - - - -  */
/* Estilo navbar */
nav {
  height: 100%;
  font-weight: 1000;
  z-index: 2;
}

/* Conteiners de links nav */
.LiContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.LiContainer li {
  list-style: none;
}
.LiContainer li a {
  text-decoration: none;
  color: black;
}

/* tamanio logo en el nav*/
.logoPanaderia,
.imagen-logo img {
  height: 90px;
  width: 90px;
}

/* modificaciones nav de bootstrap */
.color-nav {
  background-color: #FBD06E;
  padding: 30px;
}

/* Tamanio texto nav*/
.sizeTextNav a {
  font-size: 20px;
}

/* - - - - - - - - - - - - - 
- - - - - -MIXIN - - - - -
- - - - - - - - - - - - -  */
/*  font-weight + textShadow*/
/* Variable color blanco*/
/* - - - - - - - - - - - - - 
- - - - - -BANNER - - - - -
- - - - - - - - - - - - -  */
/* Subtitulos Banner png*/
.subtitleBanner {
  color: white;
  text-align: center;
  margin-top: 40px;
  background-color: rgba(139, 105, 23, 0.4745098039);
  z-index: 1;
}

/* Banner png*/
.Banner {
  width: 100%;
  height: 98.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background2.png);
  background-size: auto;
  flex-wrap: wrap;
}
.Banner .img {
  flex: 1 1 400px;
}
.Banner .img img {
  width: 100%;
}
.Banner .content {
  flex: 1 1 400px;
  margin-left: 60px;
}

/* Contenido h1 - h2 Banner*/
.content h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.content h2 {
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

/* Botones Banner*/
.content p {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.content .btn {
  width: 110px;
  height: 38px;
  background-color: #573818;
  color: white;
}

/* Media queris banner*/
@media screen and (max-width: 800px) {
  .content h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 860px) {
  .home {
    height: 120vh;
  }
}
@media screen and (max-width: 560px) {
  .home {
    height: 100vh;
  }
}
@media screen and (max-width: 330px) {
  .content h2,
  .content h1 {
    font-size: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Konkhmer Sleokchher", cursive;
  font-family: "Playfair Display", serif;
}

/* - - - - - - - - - - - - - 
- - - - - -FONDOS - - - - -
- - - - - - - - - - - - -  */
.fondo {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
}

main {
  background-color: #332105;
}

/*# sourceMappingURL=estilos.css.map */
