/* Variable tamanio icono*/
$size50px: 50px;
/* - - - - - - - - - - - - - 
- - - - - -STICKY - - - - -
- - - - - - - - - - - - -  */

/* Logo de whatsapp */

.logoWp {
    width: $size50px;
    height: $size50px;
}

/* Logo de whatsapp */

.sticky {
    @extend .logoWp;
    right: 30px;
    bottom: 15%;
    z-index: 2;
    position: fixed;
}

/* - - - - - - - - - - - - - 
- - - - - -ARROW UP - - - - -
- - - - - - - - - - - - -  */

.arrow {
    position: fixed;
    background-color: rgba(161, 109, 14, 1);
    border-radius: $size50px;
    height: $size50px;
    bottom: 40px;
    right: $size50px;
    text-decoration: none;
    text-align: center;
    line-height: $size50px;
    z-index: 2;
}